#root {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #B20029;
    clear:both;
    display: table;
    overflow: hidden;
    visibility: visible;
}


html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}