#root {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #B20029;
    clear:both;
    display: table;
    overflow: hidden;
    visibility: visible;
}

.carousel-inner {
    background-color: red;
    color: red;
}

.carousel-inner {
    background-color: red;
    color: red;
}

.carousel-item-next {
    background-color: red;
    color: red;
}
.carousel-item.active {
    background-color: red;
    color: red;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}